@use '../../../styles/breakpoints' as *;
@use '../../../styles/uads' as *;

.details {
  @include uads-ul(
    $counter-reset: -html-counter 0,
    $display: block,
    $list-style-position: inside,
    $list-style-type: none,
    $margin-bottom: 0,
    $margin-left: 0,
    $margin-right: 0,
    $margin-top: 0,
    $padding-bottom: 0,
    $padding-left: 0,
    $padding-right: 0,
    $padding-top: 0
  );
  font-weight: 400;
  font-size: 16px;
  font-family: 'Inconsolata', serif;
  line-height: 1.25;
}

.item {
  margin-bottom: 8px;
}

.label {
  margin-right: 16px;
  color: #5c5c5c;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: $bp-max-mobile-landscape) {
  .item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
  }
}
