@import '_utils';

.this {
  @include uads-ul(
    $counter-reset: -html-counter 0,
    $display: block,
    $list-style-position: inside,
    $list-style-type: none,
    $margin-bottom: 0,
    $margin-left: 0,
    $margin-right: 0,
    $margin-top: 0,
    $padding-bottom: 0,
    $padding-left: 0,
    $padding-right: 0,
    $padding-top: 0
  );
  @include typo-feature-text;
}

.item {
  text-indent: 0;
  margin-bottom: 10px;

  &::before {
    content: '\2014';
    margin-right: 1ch;
  }
}
