@import '_utils';

.this {
  @include uads-ul(
    $counter-reset: -html-counter 0,
    $display: flex,
    $list-style-position: outside,
    $list-style-type: none,
    $margin-bottom: 0,
    $margin-left: 0,
    $margin-right: 0,
    $margin-top: 0,
    $padding-bottom: 0,
    $padding-left: 0,
    $padding-right: 0,
    $padding-top: 0
  );
  @include typo-tool;
  flex-wrap: wrap;
}

.item {
  display: inline-block;
  text-transform: none;
  padding: 2px 4px;

  .this_dark & {
    background-color: #5c5c5c;
    color: #fff;
    margin: 1px;
  }
  .this_light & {
    background-color: #fff;
    color: #333;
    border: 1px solid #5c5c5c;
    margin: 2px;
  }
}
