@mixin typo-base() {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

@mixin typo-brand-primary() {
  font-weight: 700;
  font-size: 34px;
  font-family: 'Playfair Display', serif;
  line-height: 1.15;
}

@mixin typo-brand-secondary() {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Nanum Gothic Coding', sans-serif;
  line-height: 1.25;
}

@mixin typo-cta-button() {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
}

@mixin typo-feature-1-heading() {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Inconsolata', sans-serif;
  line-height: 1.25;
}

@mixin typo-secondary-button() {
  font-weight: 400;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.25;
  letter-spacing: 2;
  text-transform: lowercase;
}

@mixin typo-cta-text() {
  font-weight: 300;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

@mixin typo-label() {
  font-weight: 400;
  font-size: 13px;
  font-family: 'Inconsolata', sans-serif;
  line-height: 1.25;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin typo-feature-2-heading() {
  font-weight: 300;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.25;
}

@mixin typo-feature-text() {
  font-weight: 300;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

@mixin typo-tool() {
  font-weight: 400;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.25;
}

@mixin typo-section-heading() {
  font-weight: 200;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.25;
  text-transform: uppercase;
}

@mixin typo-feature-3-index() {
  font-weight: 400;
  font-size: 68px;
  font-family: 'Inconsolata', sans-serif;
  line-height: 1;
}

@mixin typo-feature-3-heading() {
  font-weight: 300;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.25;
}

@mixin typo-feature-3-text() {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Inconsolata', sans-serif;
  line-height: 1.5;
}

@mixin typo-feature-4-heading() {
  font-weight: 700;
  font-size: 22px;
  font-family: 'Playfair Display', serif;
  line-height: 1.25;
}

@mixin typo-details() {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Inconsolata', serif;
  line-height: 1.25;
}

@mixin typo-feature-5-heading() {
  font-weight: 400;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.25;
}

@mixin typo-portfolio-heading() {
  font-weight: 300;
  font-size: 48px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.15;
}
