@use '../../../styles/breakpoints' as *;
@use '../../../styles/uads' as *;

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.project {
  background-color: #fff;
  border: 1px solid #d1d9e0;
  border-radius: 6px;
  padding: 16px;
}

.name {
  @include uads-h3(
    $display: block,
    $font-size: 22px,
    $font-weight: 700,
    $margin-bottom: 16px,
    $margin-left: 0,
    $margin-right: 0,
    $margin-top: 0
  );
  font-family: 'Playfair Display', serif;
}

.description {
  font-size: 0.875rem;
  color: #57606a;
  margin-bottom: 16px;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 0.875rem;
  color: #57606a;
}

@media (max-width: $bp-max-mobile-landscape) {
  .projects {
    grid-template-columns: 1fr;
  }
}
