@import '_mixins';
@import '_utils';

.this {
  display: flex;
  flex-direction: column;
  height: 1px;
  min-height: 100vh;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  &_mobileMenuShown {
    height: 100vh;
    overflow: hidden;
  }
}

.brand {
  @include uads-a(
    $color: #333,
    $color--active: #333,
    $color--active-link: #333,
    $color--active-visited: #333,
    $color--visited: #333,
    $cursor: pointer,
    $outline-color--active-link: currentColor,
    $outline-style--active-link: dotted,
    $outline-width--active-link: 1px,
    $outline-color--active-visited: currentColor,
    $outline-style--active-visited: dotted,
    $outline-width--active-visited: 1px,
    $outline-color--focus: currentColor,
    $outline-style--focus: dotted,
    $outline-width--focus: 1px,
    $text-decoration: none,
    $user-focus: normal,
    $user-select: element
  );
  display: inline-block;
}

.brandHeading {
  @include typo-brand-primary;
  display: block;

  &_short {
    display: none;
  }
}

.brandSubheading {
  @include typo-brand-secondary;
  margin-top: 8px;
  padding-right: 4px;
  padding-left: 4px;
  background-color: #272727;
  color: #fff;
  display: block;

  &_short {
    display: none;
  }
}

.brandWrapper {
  display: block;
  flex: 1;
}

.column {
  flex-basis: 100%;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 32px;
}

.footer {
  text-align: center;
  font-size: 13px;
  color: #555;
  padding: 8px;
}

.header {
  display: flex;
  padding: 24px;
  flex: 0 0 auto;
  background: #fff;
}

.heading {
  @include uads-h1(
    $display: block,
    $font-size: inherit,
    $font-weight: inherit,
    $margin-bottom: 24px,
    $margin-left: 0,
    $margin-top: 0,
    $margin-right: 0
  );
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #333;
    left: 0;
    top: 50%;
    position: absolute;
  }
}

.main {
  flex-grow: 1;
  display: flex;
  padding-bottom: 24px;
}

.menu {
  @include uads-ul(
    $counter-reset: -html-counter 0,
    $display: flex,
    $list-style-position: outside,
    $list-style-type: none,
    $margin-bottom: 0,
    $margin-left: 0,
    $margin-right: 0,
    $margin-top: 0,
    $padding-bottom: 0,
    $padding-left: 0,
    $padding-right: 0,
    $padding-top: 0
  );
}

.menuLink {
  @include uads-a(
    $color: #333,
    $color--active: #333,
    $color--active-link: #333,
    $color--active-visited: #333,
    $color--visited: #333,
    $cursor: pointer,
    $outline-color--active-link: currentColor,
    $outline-style--active-link: dotted,
    $outline-width--active-link: 1px,
    $outline-color--active-visited: currentColor,
    $outline-style--active-visited: dotted,
    $outline-width--active-visited: 1px,
    $outline-color--focus: currentColor,
    $outline-style--focus: dotted,
    $outline-width--focus: 1px,
    $text-decoration: none,
    $user-focus: normal,
    $user-select: element
  );
  @include typo-secondary-button;
  padding: 10px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: '';
    display: block;
    position: relative;
    width: 6px;
    height: 6px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    top: -5.5px;
    margin-top: -8px;
  }

  &:hover::before {
    border: 1px solid #333;
    background: #fff;
  }

  &_active {
    font-weight: bold;

    &::before {
      background: #333;
    }
  }
}

.menuSwitcher {
  display: none;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 32px;
}

.section {
  flex-basis: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.skipLink {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: #272727;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 999;

  &:focus {
    position: absolute;
    left: 0px;
    top: 0px;
    outline-color: transparent;
    -webkit-transition: top 0.1s ease-in;
    transition: top 0.1s ease-in;
  }
}

.title {
  @include typo-section-heading;
  background: #fff;
  padding: 0 16px;
  margin-left: 16px;
  position: relative;
}

@media (max-width: $bp-max-tablet) {
  .brandHeading {
    &_full {
      @include sr-only;
    }
    &_short {
      display: block;
    }
  }
  .brandSubheading {
    &_full {
      @include sr-only;
    }
    &_short {
      display: block;
    }
  }

  .cta {
    margin-left: 0;
    margin-top: 32px;
  }

  .header {
    .this_mobileMenuShown & {
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto 1fr;
      overflow: hidden;
    }
  }

  .main {
    display: block;
  }

  .menu {
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .menuLink {
    flex-direction: row;
    padding: 16px 0;

    &::before {
      top: 0;
      margin-top: 0;
      margin-right: 10px;
      margin-left: -4.5px;
    }
  }

  .menuSwitcher {
    @include uads-button(
      $align-items: flex-start,
      $appearance: none,
      $background-color: transparent,
      $border-color: #4c4c4c,
      $border-style: solid,
      $border-style--active: inset,
      $border-style--active-disabled: inset,
      $border-width: 0,
      $box-align: center,
      $box-sizing: border-box,
      $color: inherit,
      $color--active: inherit,
      $color--disabled: GrayText,
      $cursor: default,
      $display: block,
      $font-family: inherit,
      $font-size: 14px,
      $font-style: normal,
      $font-variant: normal,
      $font-weight: 400,
      $letter-spacing: 2,
      $line-height: 1.25,
      $margin-left: 0,
      $margin-right: 0,
      $margin-bottom: 0,
      $margin-top: 0,
      $outline-color--focus: currentColor,
      $outline-style--focus: dotted,
      $outline-width--focus: 1px,
      $outline-offset--focus: 0,
      $padding-top: 8px,
      $padding-right: 8px,
      $padding-bottom: 8px,
      $padding-left: 8px,
      $text-align: center,
      $text-indent: 0,
      $text-rendering: auto,
      $text-shadow: none,
      $text-transform: lowercase,
      $user-select: element,
      $white-space: normal,
      $word-spacing: normal,
      $writing-mode: horizontal-tb
    );
    font-family: 'Montserrat', sans-serif;

    .this_menuHidden & {
      display: none;
    }
  }

  .menuWrapper {
    width: 100%;
  }

  .nav {
    .this_mobileMenuHidden & {
      display: none;
    }
    .this_mobileMenuShown & {
      margin-left: 0;
      margin-top: 72px;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

@media (max-width: $bp-max-mobile-landscape) {
  .column {
    width: 100%;
    padding: 12px;
  }
  .cta {
    flex: 0;
    margin-left: 0;
    margin-top: 24px;
  }
  .header {
    flex-wrap: wrap;
  }
  .menu {
    align-items: flex-start;
  }
  .nav {
    align-items: flex-start;
  }
}
