@use '../../styles/uads' as *;

.this {
  @include uads-a(
    $color: inherit,
    $color--active: inherit,
    $color--active-link: inherit,
    $color--active-visited: inherit,
    $color--visited: inherit,
    $cursor: pointer,
    $outline-color--active-link: currentColor,
    $outline-style--active-link: dotted,
    $outline-width--active-link: 1px,
    $outline-color--active-visited: currentColor,
    $outline-style--active-visited: dotted,
    $outline-width--active-visited: 1px,
    $outline-color--focus: currentColor,
    $outline-style--focus: dotted,
    $outline-width--focus: 1px,
    $text-decoration: underline,
    $user-focus: normal,
    $user-select: element
  );
}
