@mixin cancel-sr-only {
  position: initial;
  overflow: initial;
  clip: initial;
  width: initial;
  height: initial;
  margin: initial;
  padding: initial;
  border: initial;
}

@mixin sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
